// Good-Loop Fonts
@font-face {
	font-family: "Bebas Neue";
	src: url('/fonts/bebasneue-subset.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
	font-family: "Bebas Neue", bebas, helvetica, sans-serif;
}
body {
	font-family: "open sans", helvetica, sans-serif;
}
