
.DefaultListLoad {
	.ListItemWrapper {
		border-top: 1px solid #333;
	}
}

.TaskList {
	margin-left: 1em;
	margin-bottom: 1em;
   border-left: 1px solid #666;
	padding-left: 1em;	
	background: white;
	height:100%;
	max-width: 350px;
	min-width: 200px;
}