// Styling for the Good-Loop Portal app
@import "colours.less";
@import "fonts.less";

// spinner
@import "animation.less";

// Widgets
@import "Misc.less";
@import "LoginWidget.less";
@import "MessageBar.less";
@import "SimpleTable.less";
@import "WizardProgressWidget.less";
@import "ListLoad.less";
@import "CardAccordion.less";
@import "footer.less";
@import "PropControl.less";

.TODO {
	display: none;
}

.avoid-navbar {
	margin-top:60px;
}

// BS default has too much padding on the navbar logo
.navbar-brand {
	padding: 3px;
	img { 
		height: 100%; // ...and nothing to constrain logo height
	}
}

.no-margin {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

img.logo {
	width: 4em;
	height: 4em;
}
img.logo-xsmall {
	width: 1em;
	height: 1em;
}
img.logo-small {
	width: 2em;
	height: 2em;
}
img.logo-large {
	width: 6em;
	height: 6em;
}
img.logo-xlarge {
	width: 8em;
	height: 8em;
}
img {
	&.logo, &.logo-xsmall, &.logo-small, &.logo-large, &.logo-xlarge {
		object-fit: contain; // allow square container but keep proportions
	}
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flexbox-1row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center; // flex-start | flex-end | center | space-between | space-around;
}
.flexbox {
	display: flex;
}
.flexitem {

}
