/* palette */
.color-facebook {
  color: #3b5998;
}
.color-twitter {
  color: #4099ff;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
.TODO {
  display: none;
}
.avoid-navbar {
  margin-top: 100px;
}
#navbar {
  background-color: #262741;
}
.navbar-inverse {
  background-color: #262741;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #262741;
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
img.logo {
  width: 32px;
  max-height: 32px;
}
img.logo-small {
  max-width: 16px;
  max-height: 16px;
}
img.logo-large {
  max-width: 64px;
  max-height: 64px;
}
/* footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.logo-footer {
  height: 50px;
  margin: 5px;
  float: left;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flexbox-1row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.flexbox {
  display: flex;
}
.container .row .col-center {
  float: none;
  margin: 0 auto;
}
.login-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: 'Roboto';
  color: #262741;
}
.full-width {
  width: 100% !important;
}
